version: '3.6'
services:
  web:
    image: mikespub/quickstart-python
    links:
      - redis
    ports:
      - "${HOST_PORT}:${FLASK_PORT}"
    environment:
      - FLASK_PORT=${FLASK_PORT}
      - FLASK_HOST=${FLASK_HOST}
  redis:
    image: redis
